{% load embed_video_tags %}
    <div class="container">
    <hr>
        {% for post in posts %}
        <div class="row">
            <div class="col-md-2">

                <img class="username" src="images/users/2.jpg" />
                <div class="user">
                    <h5><a href="#">{{post.user}}</a></h5>
                    <p><a href="#">300 floowers</a>/<a href="#">40 posts</a>
                    </p>

                    <a href="#" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-plus"></span> Follow</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="col-md-7">

                <div class="video-container">
                {% video post.url 'medium' %}
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="videotitle">{{post.name}}</h2>
                <p class="videotime"> 2 hours ago </p>
                <div class="videotext">
                    <ul class="tag">
                        <li><a class="size1" href="#">adobe</a>
                        </li>
                        <li><a class="size2" href="#">animation</a>
                        </li>
                        <li><a class="size3" href="#">arts</a>
                        </li>
                        <li><a class="size4" href="#">bizarre</a>
                        </li>
                        <li><a class="size5" href="#">blogs</a>
                        </li>
                        <li><a class="size6" href="#">books</a>
                        </li>
                        <li><a class="size7" href="#">family</a>
                        </li>
                        <li><a class="size8" href="#">aftereffects</a>
                        </li>
                        <li><a class="size9" href="#">imagine</a>
                        </li>
                        <li><a class="size10" href="#">life</a>
                        </li>
                        <li><a class="size11" href="#">thoughts</a>
                        </li>
                        <li><a class="size12" href="#">childhood</a>
                        </li>
                    </ul>
                    <div class="description">
                        <p></p>
                        <a href="#" class="btn btn-block btn-info">Collect it !</a>
                    </div>

                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>