{% extends 'base-login.html' %}
{% load embed_video_tags %}

{% block content %}
<div class="row">
    <div class="col-md-3 editprofile">
        <div class="edit">
            <img class="name" src="{% url 'profile-pic' user.id %}" />
            <div class="editinfo">
                <h5>{{profile.name}}</h5>
                <h5>{{user}}</h5>
                <div class="follow">
                    <p><a href="follower.html">268</a></p>
                    <p>Followers</p>
                </div>

                <div class="follow">
                    <p><a href="#">587</a>
                    </p>
                    <p>Following</p>
                    </p>
                </div>
                <div class="follow">
                    <p><a href="#">10</a>
                    </p>
                    <p>Posts</p>
                </div>
                <div class="clear"></div>
                {% if profile.user == user %}
                <a href="{% url 'edit' %}" class="btn btn-sm btn-info">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="tagbox">
            <h5 class="mytitle">{{profile.user}}'s tags</h5>
            <hr>
            <div class="clear"></div>
            <ul class="tags">
                {% for tag in tags %}
                <li><a class="{% cycle 'size1' 'size2' 'size3' 'size4' 'size5' 'size6' 'size7' 'size8' 'size9' 'size10' 'size11' 'size12' %}" href="#">{{tag}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="myvideo">
            {% for post in posts %}
            <div class="myvideos">
                <div class="video-container">
                    {% video post.url 'medium' %}
                </div>
                <p class="providtitle">{{post.title}}</p>
                <a class="delete" href="javascript:void(0);"><i class="fa fa-trash fa-lg"></i></a>

                <p class="providtime"> 2 hours ago </p>
                <div class="clear"></div>
                <ul class="tags">
                    {% for tag in post.tags.all %}
                    <li><a class="{% cycle 'size1' 'size2' 'size3' 'size4' 'size5' 'size6' 'size7' 'size8' 'size9' 'size10' 'size11' 'size12' %}" href="#">{{tag}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
         </div>
    </div>
</div>
{% endblock %}