{% extends 'base-login.html' %}
{% load staticfiles %}
{% load embed_video_tags %}

{% block js %}
{{block.super}}
<script src="{% static 'js/jquery.debounce-1.0.5.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class='log'>
    <h1 class="mytitle">Most Popular</h1>
    <div class="clear"></div>
    <div class="container">
        {% for post in posts %}
        <div class="row post" post-id="{{post.id}}">
            <div class="col-md-2">

                <img class='username' src="{% url 'profile-pic' post.user.id %}" />
                <div class="user">
                    <h5><a href='#'>{{post.user}}</a></h5>
                    <p><a href='#'>300 followers</a>/
                    <a href='#'>40 posts</a></p>

                    <a href='#' class="btn btn-sm btn-info"><span class="glyphicon glyphicon-plus"></span> Follow</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="col-md-7">

                <div class="video-container">
                {% video post.url 'medium' %}
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="videotitle">{{post.title}}</h2>
                <p class="videotime"> 2 hours ago    |    <span class="likes">{% if post.likes != 0 %}{{post.likes}} likes{% endif %}</span></p>
                <div class="videotext">
                    <ul class="tag">
                        {% for tag in post.tags.all %}
                        <li><a class="{% cycle 'size1' 'size2' 'size3' 'size4' 'size5' 'size6' 'size7' 'size8' 'size9' 'size10' 'size11' 'size12' %}" href="#">{{tag}}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="description">
                        <p></p>
                        <button class="btn btn-block btn-info collect-btn">Collect it !</button>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}