body {
	font-family: 'Roboto', sans-serif;
}

/***navigation***/

.navcolor {
	background-color: #52c5d8;
	border-radius: 0;
	border-width: 0 0 0.1em 0;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.btn-default {
	color: #777;
}

.small {
	width: 35px;
	height: auto;
	padding: 0 5px;
	display: inline-block;
}

.row.navigation {
	margin-bottom: 0;
}

.row.navigation > .col-lg-6 {
	margin-top: 8px;
	margin-left: 25px;
}

.col-lg-2 > .btn-sm {
	margin-top: 9.5px;
}

.modal-body > .input-group {
	margin: 7px 0;
}


/***home page***/
.mytitle {
	padding-left: 1em;
	font-size: 1.5em;
	text-align: center;
	margin: 2em;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.row {
	margin-bottom: 100px;
}
/***user***/

.username {
	width: 100%;
	height: auto;
}

.btn-info {
	background-color: #52c5d8;
	border-color: #a3d3d3; 
}

.btn-info:hover {
	background-color: #09b5d1;
	border-color: #a3d3d3; 
}

.user {
	text-align: center;
}

.user p {
	color: #777;
	font-size: 0.9em;
}
.user h5 a {
	color: #222;
}

.user h5 a:hover {
	text-decoration: none;
	color:#52c5d8;
}
.user p a {
	color: #52c5d8;
}

.user p a:hover {
	text-decoration: none;
	
}
.user .btn {
	margin: 0 6%;
}

@media (max-width: 992px) {
	.username {
		width: 40%;
		height: auto;
		margin: 0 auto;
		float: left;
		margin-bottom: 2%;
	}
	.user {
		float: left;
		margin-left: 20%;
		margin-top: 7%;
		margin-bottom: 2%;
	}
	.clear {
		clear:both;
	}
}

/***video***/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videotitle {
	font-size: 1.5em;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	margin-top: 0;
}

/***tag***/
.tag {
	margin-top: 20px;
	list-style-type: none;
	padding-left: 10px;
	margin-right: 0;
}
.tag li {
	display: inline-block;
	padding-left: 10px; 
	padding-bottom: 10px;
}

.tag li a {
	text-decoration: none;
	line-height: 2.3em;

}

.tag li a.size1:hover {
	color: #999;
	background-color: #fff; 
}

.tag li a.size1 {
	background-color: #999;
	color: white;
	text-decoration: none;
	padding: 6px;
}

.tag li a.size2:hover {
	color: #f7c86c;
	background-color: #fff; 
}

.tag li a.size2 {
	background-color: #f7c86c;
	color: white;
	text-decoration: none;
	padding: 6px;
}

.tag li a.size3:hover {
	color: #dc609e;
	background-color: #fff; 
}

.tag li a.size3 {
	background-color: #dc609e;
	color: white;
	text-decoration: none;
	padding: 6px;
}

.tag li a.size4:hover {
	color: #43b034;
	background-color: #fff; 
}

.tag li a.size4 {
	background-color: #43b034;
	color: white;
	text-decoration: none;
	padding: 6px;
}
.tag li a.size5:hover {
	color: #5a9bdb;
	background-color: #fff; 
}

.tag li a.size5 {
	background-color: #5a9bdb;
	color: white;
	text-decoration: none;
	padding: 6px;
}

.tag li a.size6:hover {
	color: #f4da45;
	background-color: #fff; 
}

.tag li a.size6 {
	background-color: #f4da45;
	color: white;
	text-decoration: none;
	padding: 6px;
}	

.tag li a.size7:hover {
	color: #35ba97;
	background-color: #fff; 
}

.tag li a.size7 {
	background-color: #35ba97;
	color: white;
	text-decoration: none;
	padding: 6px;
}	

.tag li a.size8:hover {
	color: #8239c9;
	background-color: #fff; 
}

.tag li a.size8 {
	background-color: #8239c9;
	color: white;
	text-decoration: none;
	padding: 6px;
}

.tag li a.size9:hover {
	color: #5b4d25;
	background-color: #fff; 
}

.tag li a.size9 {
	background-color: #5b4d25;
	color: white;
	text-decoration: none;
	padding: 6px;
}
.tag li a.size10:hover {
	color: #ef6287;
	background-color: #fff; 
}

.tag li a.size10 {
	background-color: #ef6287;
	color: white;
	text-decoration: none;
	padding: 6px;
}
.tag li a.size11:hover {
	color: #ade05c;
	background-color: #fff; 
}

.tag li a.size11 {
	background-color: #ade05c;
	color: white;
	text-decoration: none;
	padding: 6px;
}
.tag li a.size12:hover {
	color: #6cbfe0;
	background-color: #fff; 
}

.tag li a.size12 {
	background-color: #6cbfe0;
	color: white;
	text-decoration: none;
	padding: 6px;
}

/***description and like***/

.videotext{
	height: 350px;
	position: relative;

}

.description .btn,
.description p {
	
	right:0;
	
	bottom: 0;
	position: absolute;
}

@media (max-width: 1200px) {
	.videotext{
		height: 285px;
		position: relative;

	}

	.description .btn,
	.description p {
		
		right:0;
		
		bottom: 0;
		position: absolute;
	}
}

@media (max-width: 992px) {
	.videotext{
		height: 150px;
		position: relative;

	}

	.description .btn,
	.description p {
		
		right:0;
		
		bottom: 0;
		position: absolute;
	}
}

footer {
	padding: 1em 0;
	background: #222;
	margin-top: 2em;
	margin-bottom: 0;
}

footer .container {
	font-size: 0.8em;
	font-weight: 300;
	color: #FFF;
	line-height: 1em;
	padding: 4em 2em 4em 3em;
	display: inline-block;

}

footer .container > .row {
	margin-bottom: 0;
}

/***login & signup ***/
.modal-header h3 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}
.well {
	background-color: #fff;
}


.controls button {
	margin: 1em 0 0 0;
}

/***profile***/
.name {
	margin:1em 0;
	width: 100%;
	height: auto;
}

.edit {
	text-align: center;
}

.edit p {
	color: #777;
	font-size: 0.9em;
}
.edit h5 a {
	color: #222;
}

.edit h5 a:hover {
	text-decoration: none;
	color:#52c5d8;
}
.edit p a {
	color: #52c5d8;
}

.edit p a:hover {
	text-decoration: none;
	
}
.edit .btn {
	margin: 0 6%;
}

@media (max-width: 992px) {
	.name {
		width: 40%;
		height: auto;
		margin: 0 auto;
		float: left;
		margin-bottom: 2%;
	}
	.user {
		float: left;
		margin-left: 20%;
		margin-top: 7%;
		margin-bottom: 2%;
	}
	.clear {
		clear:both;
	}
}

@media (max-width: 768px) {
	.name {
		width: 50%;
		height: auto;
		margin: 0 auto;
		float: left;
		margin-bottom: 2%;
	}
}

.tagbox {

    border: 1px solid;
    border-color: #e3e3e3;
    border-radius: 5px;

}

.tags {
	margin-top: 10px;
	list-style-type: none;
	padding-left: 10px;
	margin-right: 0;
}

.tags li {
	display: inline-block;
	padding-left: 7.5px; 
	padding-right: 7.5px;
	padding-bottom: 20px;
}

.tags li a {
	text-decoration: none;
	line-height: 2.3em;

}

.tags li a.size1:hover {
	color: #999;
	background-color: #fff; 
}

.tags li a.size1 {
	background-color: #999;
	color: white;
	text-decoration: none;
	padding: 6px;
}

.tags li a.size2:hover {
	color: #f7c86c;
	background-color: #fff; 
}

.tags li a.size2 {
	background-color: #f7c86c;
	color: white;
	text-decoration: none;
	padding: 6px;
}

.tags li a.size3:hover {
	color: #dc609e;
	background-color: #fff; 
}

.tags li a.size3 {
	background-color: #dc609e;
	color: white;
	text-decoration: none;
	padding: 6px;
}

.tags li a.size4:hover {
	color: #43b034;
	background-color: #fff; 
}

.tags li a.size4 {
	background-color: #43b034;
	color: white;
	text-decoration: none;
	padding: 6px;
}
.tags li a.size5:hover {
	color: #5a9bdb;
	background-color: #fff; 
}

.tags li a.size5 {
	background-color: #5a9bdb;
	color: white;
	text-decoration: none;
	padding: 6px;
}

.tags li a.size6:hover {
	color: #f4da45;
	background-color: #fff; 
}

.tags li a.size6 {
	background-color: #f4da45;
	color: white;
	text-decoration: none;
	padding: 6px;
}	

.tags li a.size7:hover {
	color: #35ba97;
	background-color: #fff; 
}

.tags li a.size7 {
	background-color: #35ba97;
	color: white;
	text-decoration: none;
	padding: 6px;
}	

.tags li a.size8:hover {
	color: #8239c9;
	background-color: #fff; 
}

.tags li a.size8 {
	background-color: #8239c9;
	color: white;
	text-decoration: none;
	padding: 6px;
}

.tags li a.size9:hover {
	color: #5b4d25;
	background-color: #fff; 
}

.tags li a.size9 {
	background-color: #5b4d25;
	color: white;
	text-decoration: none;
	padding: 6px;
}
.tags li a.size10:hover {
	color: #ef6287;
	background-color: #fff; 
}

.tags li a.size10 {
	background-color: #ef6287;
	color: white;
	text-decoration: none;
	padding: 6px;
}
.tags li a.size11:hover {
	color: #ade05c;
	background-color: #fff; 
}

.tags li a.size11 {
	background-color: #ade05c;
	color: white;
	text-decoration: none;
	padding: 6px;
}
.tags li a.size12:hover {
	color: #6cbfe0;
	background-color: #fff; 
}

.tags li a.size12 {
	background-color: #6cbfe0;
	color: white;
	text-decoration: none;
	padding: 6px;
}


.myvideo {
	border: 1px solid;
    border-color: #e3e3e3;
    border-radius: 5px;
    margin-top: 30px;
}

.myvideos {
	padding: 10px 10px 10px 17.5px;
	margin-bottom: 0;
}

.myvideos .videotext {
	height: 0;
}

.videotime {
	color: #777;
	font-size: 0.9em;
	text-align: center;
}

